In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
# train test split 
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("Data/preprocessed_data.csv")
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,...,spark,aws,excel,sql,django,hadoop,java,db,tableau,azure
0,0,Data Scientist,$74K - $139K,Intro (Use Font Arial 12):\nAs a Data Scientis...,4.4,Applied Information Sciences,"Chevy Chase, MD",501 to 1000 Employees,1982,Unknown,...,0,0,0,1,0,0,0,1,0,1
1,1,Web Developer,$41K - $83K,We are the fastest growing employer of emergin...,4.0,Revature,"Tampa, FL",1001 to 5000 Employees,2003,Unknown,...,0,0,0,0,0,0,0,0,0,0
2,2,Data Analyst,$43K - $88K,"HR Data Analyst - Direct Hire - Buffalo, NY\nO...",4.1,Systems Personnel,"Niagara Falls, NY",1 to 50 Employees,1996,Unknown,...,0,0,0,1,0,0,0,0,1,0
3,3,Database Administrator,$68K - $136K,"Secure our Nation, Ignite your Future\nBecome ...",4.2,ManTech International Corporation,"Fort Meade, MD",5001 to 10000 Employees,1968,Unknown,...,0,0,0,0,0,0,0,1,0,0
4,4,iOS Developer,$72K - $104K,Are you an iOS developer who loves to create m...,4.1,Garmin,"Olathe, KS",10000+ Employees,1989,Unknown,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4912,4912,Front End Developer,$58K - $117K,US Citizenship is required\nFront end Develope...,-1.0,EDR Technology,"Ashburn, VA",Unknown,-1,Unknown,...,0,0,0,0,0,0,1,1,0,0
4913,4913,Sr Software Quality Engineer,$78K - $147K,PRA Health Sciences is seeking the best and br...,4.0,PRA Health Sciences,"San Diego, CA",10000+ Employees,1976,Unknown,...,0,0,0,0,0,0,0,0,0,0
4914,4914,Lead Mobile Engineer,$79K - $162K,About Us\nWe are a fintech startup with a miss...,-1.0,Treecard,"Austin, TX",Unknown,-1,Unknown,...,0,0,0,0,0,0,0,0,0,0
4915,4915,Cloud Infrastructure Engineer (SRE/Java),$61K - $132K,"Every day, Global Payments makes it possible f...",3.5,Global Payments,"Columbus, GA",10000+ Employees,1967,Unknown,...,0,0,0,0,0,0,0,0,0,0
4916,4916,Development Chapter Lead in Retail,$51K - $97K,Job Description\nOwn the build the products th...,3.5,Vanguard,"Malvern, PA",10000+ Employees,1975,Unknown,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'hourly',
       'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'job_state', 'age', 'job_title_tag', 'seniority', 'desc_len', 'python',
       'R', 'spark', 'aws', 'excel', 'sql', 'django', 'hadoop', 'java', 'db',
       'tableau', 'azure'],
      dtype='object')

In [5]:
df['Job Title'].unique()

array(['Data Scientist', 'Web Developer', 'Data Analyst', ...,
       'Lead Mobile Engineer', 'Cloud Infrastructure Engineer (SRE/Java)',
       'Development Chapter Lead in Retail'], dtype=object)

In [6]:
df_model = df[['Job Title', 'Rating','Company Name', 'Company Name', 'Size',
               'Type of ownership', 'Industry', 'Sector', 'Revenue', 'hourly', 'employer_provided',
               'avg_salary', 'job_state', 'age',
               'job_title_tag', 'seniority', 'desc_len', 'python', 'R', 'spark', 'aws',
               'excel', 'sql', 'django', 'hadoop', 'java', 'db', 'tableau', 'azure']]

In [7]:
dummy_df = pd.get_dummies(df_model)

X = dummy_df.drop('avg_salary', axis =1)
y = dummy_df.avg_salary.values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=24)

In [8]:
df['Job Description'].map(lambda x: len(x)).mean()

1023.6835468781777

In [9]:
! pip install nltk

Requirement already satisfied: nltk in c:\users\eisha\anaconda3\lib\site-packages (3.6.1)
Requirement already satisfied: regex in c:\users\eisha\anaconda3\lib\site-packages (from nltk) (2021.4.4)
Requirement already satisfied: joblib in c:\users\eisha\anaconda3\lib\site-packages (from nltk) (1.0.1)
Requirement already satisfied: tqdm in c:\users\eisha\anaconda3\lib\site-packages (from nltk) (4.59.0)
Requirement already satisfied: click in c:\users\eisha\anaconda3\lib\site-packages (from nltk) (7.1.2)

In [10]:
from nltk.stem.porter import PorterStemmer
from nltk.tokenize import RegexpTokenizer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [11]:
stemmer = PorterStemmer()
tokenizer = RegexpTokenizer("[a-z']+")

In [12]:
# preprocess text
def get_tokens(description):
    text_tokens = tokenizer.tokenize(description)
    stemmed_tokens = [stemmer.stem(x) for x in text_tokens]
    return stemmed_tokens

In [ ]:
vectorizer = TfidfVectorizer(stop_words='english', ngram_range=(1,1), tokenizer=get_tokens)

In [ ]:
transformed_text = vectorizer.fit_transform(df['Job Description'])

In [ ]:
transformed_text

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(transformed_text, df['avg_salary'], test_size=0.3)

In [ ]:
from sklearn.naive_bayes import GaussianNB

In [ ]:
gnb_model = GaussianNB().fit(X_train.toarray(), y_train.astype('int'))

In [ ]:
y_pred = gnb_model.predict(X_test.toarray())

In [ ]:
mean_squared_error(y_test, y_pred)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf_model = RandomForestRegressor().fit(X_train.toarray(), y_train.astype('int'))

In [ ]:
y_pred = rf_model.predict(X_test.toarray())

In [ ]:
mean_squared_error(y_test, y_pred)

In [ ]:

!pip install tensorflow_hub

In [ ]:
import tensorflow as tf
import tensorflow_hub as hub

In [ ]:

model_link = "https://tfhub.dev/google/tf2-preview/gnews-swivel-20dim/1"
hub_layer = hub.KerasLayer(model_link, output_shape=[20], input_shape=[], 
                           dtype=tf.string, trainable=True)

In [ ]:
model = tf.keras.Sequential()
model.add(hub_layer)
model.add(tf.keras.layers.Dense(128, activation='relu'))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.Dense(64, activation='relu'))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.Dense(1, activation='relu'))

model.summary()

In [ ]:
model.compile(optimizer='adam',
              loss=tf.losses.MeanSquaredError(),
              metrics=['mae', 'mse', 'msle'])

In [ ]:
history = model.fit(df['Job Description'], df['avg_salary'],
                    epochs=50,
                    batch_size=256,
                    verbose=1)

In [ ]:
tf.config.experimental_run_functions_eagerly(True)

In [ ]:
model.predict(["""As a Data Scientist Architect you will be applying new and innovative methods to address some of our most important intelligence problems \
What You'll Be Doing:\
Knowledge and experience in designing and implementing AI apps and agents that use the Microsoft Azure Cognitive Services, Azure Bot Service, Azure Cognitive Search, and data storage options \
Analyzing requirements for AI solutions Experience with NoSQL databases Experience with applying Data Science techniques to overhead imagery (computer vision, object detection \
Ability to work autonomously and collaboratively as part of a team to both teach and learn every day"""])

In [ ]:
model.predict(["""We are looking for a full time iOS Software Engineer to join our team in Olathe, KS. In this role, you’ll be responsible for architecting and developing complex software utilized by the suite of Garmin mobile applications. Responsibilities include:
Develop software using Swift and Objective-C
Utilize tools in the software development process such as Git, Gerrit, Bitbucket, Jira, Confluence, Xcode, and Jenkins
Create and implement designs for software components within a larger project"""])

## RNN - LSTM

In [13]:

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing import sequence
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import RMSprop
from tensorflow.keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding, BatchNormalization

In [14]:
max_words = 10000
max_len = 1500
tok = Tokenizer(num_words=max_words)
tok.fit_on_texts(df['Job Description'])
sequences = tok.texts_to_sequences(df['Job Description'])
sequences_matrix = sequence.pad_sequences(sequences,maxlen=max_len)

In [15]:
def RNN():
    inputs = Input(name='inputs',shape=[max_len])
    layer = Embedding(max_words,100,input_length=max_len)(inputs)
    layer = LSTM(64)(layer)
    layer = Dense(128,name='FC1')(layer)
    layer = Activation('relu')(layer)
    layer = Dropout(0.2)(layer)
    # layer = BatchNormalization()(layer)
    layer = Dense(64,name='FC2')(layer)
    layer = Activation('sigmoid')(layer)
    layer = Dropout(0.5)(layer)
    layer = Dense(1,name='out_layer')(layer)
    layer = Activation('relu')(layer)
    model = Model(inputs=inputs,outputs=layer)
    return model

In [25]:
model = RNN()
model.summary()
model.compile(loss='mse',optimizer=RMSprop(),metrics=['mae', 'mse', 'msle'])

Model: "model_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
inputs (InputLayer)          [(None, 1500)]            0
_________________________________________________________________
embedding_1 (Embedding)      (None, 1500, 100)         1000000
_________________________________________________________________
lstm_1 (LSTM)                (None, 64)                42240
_________________________________________________________________
FC1 (Dense)                  (None, 128)               8320
_________________________________________________________________
activation_3 (Activation)    (None, 128)               0
_________________________________________________________________
dropout_2 (Dropout)          (None, 128)               0
_________________________________________________________________
FC2 (Dense)                  (None, 64)                8256
_________________________________________________________________
activation_4 (Activation)    (None, 64)                0
_________________________________________________________________
dropout_3 (Dropout)          (None, 64)                0
_________________________________________________________________
out_layer (Dense)            (None, 1)                 65
_________________________________________________________________
activation_5 (Activation)    (None, 1)                 0
=================================================================
Total params: 1,058,881
Trainable params: 1,058,881
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(sequences_matrix,df['avg_salary'],epochs=50,
                    batch_size=64,
                    verbose=1 ,validation_split=0.2)

Epoch 1/50
62/62 [==============================] - 95s 1s/step - loss: 7049.8320 - mae: 78.8164 - mse: 7049.8320 - msle: 6.5356 - val_loss: 7367.3555 - val_mae: 82.7319 - val_mse: 7367.3555 - val_msle: 5.1779
Epoch 2/50
62/62 [==============================] - 91s 1s/step - loss: 6572.9932 - mae: 75.7369 - mse: 6572.9932 - msle: 4.4198 - val_loss: 6965.6885 - val_mae: 80.2677 - val_mse: 6965.6885 - val_msle: 4.1701
Epoch 3/50
62/62 [==============================] - 89s 1s/step - loss: 6198.6113 - mae: 73.2200 - mse: 6198.6113 - msle: 3.5726 - val_loss: 6568.8794 - val_mae: 77.7566 - val_mse: 6568.8794 - val_msle: 3.4239
Epoch 4/50
62/62 [==============================] - 91s 1s/step - loss: 5840.9692 - mae: 70.7129 - mse: 5840.9692 - msle: 2.9477 - val_loss: 6186.0527 - val_mae: 75.2546 - val_mse: 6186.0527 - val_msle: 2.8586
Epoch 5/50
62/62 [==============================] - 92s 1s/step - loss: 5490.7954 - mae: 68.1964 - mse: 5490.7954 - msle: 2.4644 - val_loss: 5815.5947 - val_mae: 72.7527 - val_mse: 5815.5947 - val_msle: 2.4137
Epoch 6/50
62/62 [==============================] - 89s 1s/step - loss: 5171.3525 - mae: 65.8049 - mse: 5171.3525 - msle: 2.0983 - val_loss: 5457.9854 - val_mae: 70.2622 - val_mse: 5457.9854 - val_msle: 2.0554
Epoch 7/50
62/62 [==============================] - 90s 1s/step - loss: 4841.9165 - mae: 63.2933 - mse: 4841.9165 - msle: 1.7830 - val_loss: 5113.0869 - val_mae: 67.7731 - val_mse: 5113.0869 - val_msle: 1.7614
Epoch 8/50
62/62 [==============================] - 93s 2s/step - loss: 4516.8804 - mae: 60.6547 - mse: 4516.8804 - msle: 1.5124 - val_loss: 4767.2383 - val_mae: 65.1814 - val_mse: 4767.2383 - val_msle: 1.5073
Epoch 9/50
62/62 [==============================] - 91s 1s/step - loss: 4220.8354 - mae: 58.1330 - mse: 4220.8354 - msle: 1.2996 - val_loss: 4441.6992 - val_mae: 62.6464 - val_mse: 4441.6992 - val_msle: 1.2988
Epoch 10/50
62/62 [==============================] - 90s 1s/step - loss: 3942.4238 - mae: 55.7185 - mse: 3942.4238 - msle: 1.1264 - val_loss: 4128.4683 - val_mae: 60.1181 - val_mse: 4128.4683 - val_msle: 1.1216
Epoch 11/50
62/62 [==============================] - 87s 1s/step - loss: 3667.0649 - mae: 53.3685 - mse: 3667.0649 - msle: 0.9763 - val_loss: 3828.3796 - val_mae: 57.6106 - val_mse: 3828.3796 - val_msle: 0.9704
Epoch 12/50
62/62 [==============================] - 87s 1s/step - loss: 3386.0015 - mae: 50.6563 - mse: 3386.0015 - msle: 0.8364 - val_loss: 3541.2117 - val_mae: 55.1172 - val_mse: 3541.2117 - val_msle: 0.8406
Epoch 13/50
62/62 [==============================] - 89s 1s/step - loss: 3150.3135 - mae: 48.3784 - mse: 3150.3135 - msle: 0.7295 - val_loss: 3267.0554 - val_mae: 52.6413 - val_mse: 3267.0554 - val_msle: 0.7285
Epoch 14/50
62/62 [==============================] - 86s 1s/step - loss: 2916.1428 - mae: 46.1969 - mse: 2916.1428 - msle: 0.6374 - val_loss: 3008.1733 - val_mae: 50.1970 - val_mse: 3008.1733 - val_msle: 0.6323
Epoch 15/50
62/62 [==============================] - 87s 1s/step - loss: 2685.8362 - mae: 43.8163 - mse: 2685.8362 - msle: 0.5513 - val_loss: 2761.4749 - val_mae: 47.7626 - val_mse: 2761.4749 - val_msle: 0.5485
Epoch 16/50
62/62 [==============================] - 87s 1s/step - loss: 2504.4797 - mae: 41.8602 - mse: 2504.4797 - msle: 0.4904 - val_loss: 2527.4326 - val_mae: 45.3582 - val_mse: 2527.4326 - val_msle: 0.4756
Epoch 17/50
62/62 [==============================] - 87s 1s/step - loss: 2328.4863 - mae: 39.9206 - mse: 2328.4863 - msle: 0.4355 - val_loss: 2308.3076 - val_mae: 43.0083 - val_mse: 2308.3076 - val_msle: 0.4127
Epoch 18/50
62/62 [==============================] - 87s 1s/step - loss: 2136.3215 - mae: 37.8424 - mse: 2136.3215 - msle: 0.3803 - val_loss: 2101.7251 - val_mae: 40.6857 - val_mse: 2101.7251 - val_msle: 0.3578
Epoch 19/50
62/62 [==============================] - 87s 1s/step - loss: 1963.8247 - mae: 35.8938 - mse: 1963.8247 - msle: 0.3344 - val_loss: 1907.6897 - val_mae: 38.3990 - val_mse: 1907.6897 - val_msle: 0.3101
Epoch 20/50
62/62 [==============================] - 87s 1s/step - loss: 1818.0729 - mae: 34.3136 - mse: 1818.0729 - msle: 0.2993 - val_loss: 1726.5465 - val_mae: 36.1577 - val_mse: 1726.5465 - val_msle: 0.2687
Epoch 21/50
62/62 [==============================] - 87s 1s/step - loss: 1676.7191 - mae: 32.4871 - mse: 1676.7191 - msle: 0.2658 - val_loss: 1559.1537 - val_mae: 33.9798 - val_mse: 1559.1537 - val_msle: 0.2330
Epoch 22/50
62/62 [==============================] - 86s 1s/step - loss: 1542.9459 - mae: 30.8166 - mse: 1542.9459 - msle: 0.2365 - val_loss: 1404.8746 - val_mae: 31.8957 - val_mse: 1404.8746 - val_msle: 0.2024
Epoch 23/50
62/62 [==============================] - 87s 1s/step - loss: 1468.0736 - mae: 29.7435 - mse: 1468.0736 - msle: 0.2229 - val_loss: 1266.0050 - val_mae: 29.9361 - val_mse: 1266.0050 - val_msle: 0.1766
Epoch 24/50
62/62 [==============================] - 86s 1s/step - loss: 1353.9121 - mae: 28.5076 - mse: 1353.9121 - msle: 0.2021 - val_loss: 1139.6333 - val_mae: 28.0945 - val_mse: 1139.6333 - val_msle: 0.1547
Epoch 25/50
62/62 [==============================] - 87s 1s/step - loss: 1259.3185 - mae: 27.2693 - mse: 1259.3185 - msle: 0.1845 - val_loss: 1027.1987 - val_mae: 26.4150 - val_mse: 1027.1987 - val_msle: 0.1364
Epoch 26/50
62/62 [==============================] - 88s 1s/step - loss: 1184.2552 - mae: 26.1603 - mse: 1184.2552 - msle: 0.1720 - val_loss: 927.1570 - val_mae: 24.8370 - val_mse: 927.1570 - val_msle: 0.1212
Epoch 27/50
62/62 [==============================] - 86s 1s/step - loss: 1135.1178 - mae: 25.6280 - mse: 1135.1178 - msle: 0.1659 - val_loss: 840.1141 - val_mae: 23.3763 - val_mse: 840.1141 - val_msle: 0.1089
Epoch 28/50
62/62 [==============================] - 88s 1s/step - loss: 1093.6620 - mae: 25.1438 - mse: 1093.6620 - msle: 0.1597 - val_loss: 771.2128 - val_mae: 22.1464 - val_mse: 771.2128 - val_msle: 0.0998
Epoch 29/50
62/62 [==============================] - 90s 1s/step - loss: 1023.9791 - mae: 24.3408 - mse: 1023.9791 - msle: 0.1509 - val_loss: 711.8253 - val_mae: 21.0406 - val_mse: 711.8253 - val_msle: 0.0925
Epoch 30/50
62/62 [==============================] - 90s 1s/step - loss: 1043.3163 - mae: 24.6348 - mse: 1043.3163 - msle: 0.1546 - val_loss: 669.1661 - val_mae: 20.2225 - val_mse: 669.1661 - val_msle: 0.0876
Epoch 31/50
62/62 [==============================] - 92s 1s/step - loss: 1019.2360 - mae: 24.1376 - mse: 1019.2360 - msle: 0.1514 - val_loss: 635.7005 - val_mae: 19.5763 - val_mse: 635.7005 - val_msle: 0.0841
Epoch 32/50
62/62 [==============================] - 87s 1s/step - loss: 1013.7748 - mae: 24.4001 - mse: 1013.7748 - msle: 0.1510 - val_loss: 617.2230 - val_mae: 19.2186 - val_mse: 617.2230 - val_msle: 0.0823
Epoch 33/50
62/62 [==============================] - 87s 1s/step - loss: 992.1948 - mae: 23.9337 - mse: 992.1948 - msle: 0.1482 - val_loss: 604.0544 - val_mae: 18.9632 - val_mse: 604.0544 - val_msle: 0.0810
Epoch 34/50
62/62 [==============================] - 88s 1s/step - loss: 986.6392 - mae: 23.8768 - mse: 986.6392 - msle: 0.1479 - val_loss: 599.0347 - val_mae: 18.8689 - val_mse: 599.0347 - val_msle: 0.0806
Epoch 35/50
62/62 [==============================] - 89s 1s/step - loss: 994.4190 - mae: 24.2044 - mse: 994.4190 - msle: 0.1501 - val_loss: 593.0607 - val_mae: 18.7558 - val_mse: 593.0607 - val_msle: 0.0801
Epoch 36/50
62/62 [==============================] - 88s 1s/step - loss: 985.4236 - mae: 23.9964 - mse: 985.4236 - msle: 0.1486 - val_loss: 590.2527 - val_mae: 18.7036 - val_mse: 590.2527 - val_msle: 0.0798
Epoch 37/50
62/62 [==============================] - 86s 1s/step - loss: 979.2357 - mae: 23.8796 - mse: 979.2357 - msle: 0.1470 - val_loss: 585.6620 - val_mae: 18.6175 - val_mse: 585.6620 - val_msle: 0.0794
Epoch 38/50
62/62 [==============================] - 87s 1s/step - loss: 1006.7422 - mae: 24.2744 - mse: 1006.7422 - msle: 0.1512 - val_loss: 585.5013 - val_mae: 18.6146 - val_mse: 585.5013 - val_msle: 0.0794
Epoch 39/50
62/62 [==============================] - 88s 1s/step - loss: 989.7172 - mae: 23.8853 - mse: 989.7172 - msle: 0.1490 - val_loss: 584.5062 - val_mae: 18.5964 - val_mse: 584.5062 - val_msle: 0.0793
Epoch 40/50

62/62 [==============================] - 91s 1s/step - loss: 980.5104 - mae: 23.8024 - mse: 980.5104 - msle: 0.1488 - val_loss: 585.5005 - val_mae: 18.6146 - val_mse: 585.5005 - val_msle: 0.0794
Epoch 41/50
62/62 [==============================] - 91s 1s/step - loss: 992.1932 - mae: 24.0908 - mse: 992.1932 - msle: 0.1496 - val_loss: 583.4532 - val_mae: 18.5770 - val_mse: 583.4532 - val_msle: 0.0793
Epoch 42/50
62/62 [==============================] - 91s 1s/step - loss: 987.2313 - mae: 23.9653 - mse: 987.2313 - msle: 0.1482 - val_loss: 582.5054 - val_mae: 18.5593 - val_mse: 582.5054 - val_msle: 0.0792
Epoch 43/50
34/62 [===============>..............] - ETA: 38s - loss: 950.5822 - mae: 23.9949 - mse: 950.5822 - msle: 0.1474

In [ ]:
test_sequences = tok.texts_to_sequences(
    ["""We are looking for a full time iOS Software Engineer to join our team in Olathe, KS. In this role, you’ll be responsible for architecting and developing complex software utilized by the suite of Garmin mobile applications. Responsibilities include:
Develop software using Swift and Objective-C
Utilize tools in the software development process such as Git, Gerrit, Bitbucket, Jira, Confluence, Xcode, and Jenkins
Create and implement designs for software components within a larger project"""])

test_sequences_matrix = sequence.pad_sequences(test_sequences, maxlen = max_len)

In [ ]:
pred = model.predict(test_sequences_matrix)
pred

In [ ]:

test_sequences = tok.texts_to_sequences(["""As a Data Scientist Architect you will be applying new and innovative methods to address some of our most important intelligence problems \
What You'll Be Doing:\
Knowledge and experience in designing and implementing AI apps and agents that use the Microsoft Azure Cognitive Services, Azure Bot Service, Azure Cognitive Search, and data storage options \
Analyzing requirements for AI solutions Experience with NoSQL databases Experience with applying Data Science techniques to overhead imagery (computer vision, object detection \
Ability to work autonomously and collaboratively as part of a team to both teach and learn every day"""])

test_sequences_matrix = sequence.pad_sequences(test_sequences,maxlen = max_len)

pred = model.predict(test_sequences_matrix)
pred

In [21]:
sequences_matrix[0]

array([   0,    0,    0, ..., 7340, 1642, 1475])